%input.search{"data-column" => "all", :type => "search"}
  (Match any column)
%input.search{"data-column" => "2", :type => "search"}
  (Train name; Pothigai)
%button.reset{:type => "button"} Reset Search
%table.tablesorter
  %thead
    %th #
    %th Train number
    %th{"data-placeholder"=>"Train name"} Train Name
    %th Start
    %th End
  %tbody
    - @trains.each_with_index do |train, index|
      %tr
        %td= index + 1
        %td= train.train_no
        %td= train.name
        %td= train.starts
        %td= train.ends
