%form
  .form-group
    %input#exampleInputEmail1.form-control{:placeholder => "PNR Number", name: :pnr_number, :type => "text", value: params[:pnr_number]}
  %button.btn.btn-primary{:type => "submit"} Submit

- if @rail_in
  = @pnr_status
  %table.table
    %thead
      %th Train number
      %th Train name
      %th Boarding Date
      %th From
      %th To
      %th Boarding point
      %th Class
    %tbody
      %tr
        %td= @pnr_status["result"]["trainno"]
        %td= @pnr_status["result"]["name"]
        %td= @pnr_status["result"]["journey"]
        %td= @pnr_status["result"]["from"]
        %td= @pnr_status["result"]["to"]
        %td= @pnr_status["result"]["from"]
        %td= @pnr_status["result"]["cls"]
  %table.table
    %thead
      %th{colspan: 3} Paassanger
      %th{colspan: 2} Booking Status 
      %th{colspan: 2} Current Status 
      - @pnr_status["result"]["passengers"].each_with_index do |passenger, index|
        %tr
          %td{colspan: 3}= "Passenger #{index+1}"
          %td{colspan: 2}= passenger["bookingstatus"]
          %td{colspan: 2}= passenger["currentstatus"]
      %tr
        %td{colspan: 3} Charting Status
        %td{colspan: 4}= @pnr_status["result"]["chart"]