/ nav bar holder
#nav-bar-holder
  / Navigation
  %ul#nav.sf-menu
    %li{class: "#{'current-menu-item' if action_name=='index' and controller_name=='home'}"}
      %a{:href => root_path} Home
    %li{class: "#{'current-menu-item' if action_name=='index' and controller_name=='trains'}"}
      %a{:href => trains_path} Trains
    %li{class: "#{'current-menu-item' if action_name=='stations'}"}
      %a{:href => stations_path} Stations
    %li{class: "#{'current-menu-item' if action_name=='routes'}"}
      %a{:href => routes_path} Route
    %li{class: "#{'current-menu-item' if action_name=='ticket_fare'}"}
      %a{:href => ticket_fare_path} Ticket Fare
    %li{class: "#{'current-menu-item' if action_name=='contact'}"}
      %a{:href => contact_path} Contact
  / ENDS Navigation
  / Social
  %ul.social
    %li
      %a.poshytip.facebook{:href => "http://www.facebook.com", :title => "Become a fan"}
    %li
      %a.poshytip.twitter{:href => "http://www.twitter.com", :title => "Follow my tweets"}
    %li
      %a.poshytip.dribbble{:href => "http://www.dribbble.com", :title => "Working on..."}
  / ENDS Social
/ ENDS nav bar holder
