/ Reel slider
#reel
  .slides_container
    .slide-box
      .box-container
        %img.box-icon{:alt => "pic", :src => "/assets/mono-icons/bargraph32.png"}/
        %h6 Pellentesque morbi
        = succeed "Tristique" do
          .box-divider
        senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est tristique senectus et netus et malesuada.
      .box-container
        %img.box-icon{:alt => "pic", :src => "/assets/mono-icons/boxupload32.png"}/
        %h6 Pellentesque morbi
        = succeed "Tristique" do
          .box-divider
        senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est tristique senectus et netus et malesuada.
      .box-container
        %img.box-icon{:alt => "pic", :src => "/assets/mono-icons/article32.png"}/
        %h6 Pellentesque morbi
        = succeed "Tristique" do
          .box-divider
        senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est tristique senectus et netus et malesuada.
    .slide-box
      .box-container
        %img.box-icon{:alt => "pic", :src => "/assets/mono-icons/circleright32.png"}/
        %h6 Pellentesque morbi
        = succeed "Tristique" do
          .box-divider
        senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est tristique senectus et netus et malesuada.
      .box-container
        %img.box-icon{:alt => "pic", :src => "/assets/mono-icons/exchange32.png"}/
        %h6 Pellentesque morbi
        = succeed "Tristique" do
          .box-divider
        senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est tristique senectus et netus et malesuada.
      .box-container
        %img.box-icon{:alt => "pic", :src => "/assets/mono-icons/cup32.png"}/
        %h6 Pellentesque morbi
        = succeed "Tristique" do
          .box-divider
        senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est tristique senectus et netus et malesuada.
    .slide-box
      .box-container
        %img.box-icon{:alt => "pic", :src => "/assets/mono-icons/folder32.png"}/
        %h6 Pellentesque morbi
        = succeed "Tristique" do
          .box-divider
        senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est tristique senectus et netus et malesuada.
      .box-container
        %img.box-icon{:alt => "pic", :src => "/assets/mono-icons/heart32.png"}/
        %h6 Pellentesque morbi
        = succeed "Tristique" do
          .box-divider
        senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est tristique senectus et netus et malesuada.
      .box-container
        %img.box-icon{:alt => "pic", :src => "/assets/mono-icons/lightbulb32.png"}/
        %h6 Pellentesque morbi
        = succeed "Tristique" do
          .box-divider
        senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est tristique senectus et netus et malesuada.
  %a.prev{:href => "#"}
  %a.next{:href => "#"}
/ ENDS Reel slider
