%form
  .form-group
    /%input#exampleInputEmail1.form-control{:placeholder => "From station", name: "search[from]", :type => "text", value: @station_from}
    /%input#exampleInputEmail1.form-control{:placeholder => "To station", name: "search[to]", :type => "text", value: @station_to}
    - date = params[:search].present? ? params[:search][:date] : ""
    %label Date
    %input{type: :text, name: "search[date]", id: "datepicker", value: date}
    %label{for: "datepicker"}
      %img{src: "/assets/calendar.png"}
    %label From
    %select{name: "search[from]", id: "empty-combo"}
      - @stations.each do |station|
        %option{value: station["code"], selected: station.code==@from}= "#{station.code}-#{station.name}"
    %label To
    %select{name: "search[to]"}
      - @stations.each do |station|
        %option{value: station["code"], selected: station.code==@to}= "#{station.code}-#{station.name}"
  %button{:type => "submit"} Submit
